body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  background-image: url(./assets/images/cielo.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {  
  display: grid; 
  text-align: center;  
  padding: 1rem;
  grid-gap: 1rem;   
  grid-template-areas: 
  "logo bar cart "
  "greeting greeting greeting"
  ;
}

.navbar {
  height: 6vh;  
  grid-area: bar;  
  }

.greeting{
  grid-area: greeting;
}

.cart{
  grid-area: cart;
}

.App-logo {  
  pointer-events: none;
  grid-area: logo;
}

.item{
  display: grid;
  grid-gap: 1rem;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
